body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 100%);
    font-family: Arial, sans-serif;
}

.app-container {
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.coin {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

#flipVideo {
    border-radius: 50%;
}



button {
    padding: 10px 20px;
    background-color: #f67280;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #c06c84;
}
